body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  text-align: center;
}
h2 {
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 8px 8px 2px rgba(0,0,0,0.1);
color: #008AFF;
  text-align: center;
  font-size: 20px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#demotext {
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 8px 8px 2px rgba(0,0,0,0.1);
color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto";
font-size: 70px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
  text-align: center;
}

#info {
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 8px 8px 2px rgba(0,0,0,0.1);
color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Roboto";
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
#info2 {
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 8px 8px 2px rgba(0,0,0,0.1);
color: #008AFF;
  text-align: center;
  font-size: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
#info3 {
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 8px 8px 2px rgba(0,0,0,0.1);
color: #008AFF;
  text-align: center;
  font-size: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
